@model Orders.Models.Totals



<div class="form-group group" style="float: left; margin-top: 12px; margin-left: 10px;">
    <div class="form-group" style="float: left; margin-left: 10px">
        @Html.LabelFor(model => model.totalTechs, "Total Techs")
        @Html.EditorFor(model => model.totalTechs, null, "tatalstotalTechs")
        @Html.ValidationMessageFor(model => model.totalTechs)
    </div>

    <div class="form-group" style="float: left; margin-left: 10px">
        @Html.LabelFor(model => model.totalHours, "Total Hours")
        @Html.EditorFor(model => model.totalHours, null, "tatalstotalHours")
        @Html.ValidationMessageFor(model => model.totalHours)
    </div>
    <div class="form-group" style="float: left; margin-left: 10px">
        @Html.LabelFor(model => model.trip, "Trip(%)")
        @Html.EditorFor(model => model.trip, null, "tatalstrip")
        @Html.ValidationMessageFor(model => model.trip)
    </div>


    <div class="form-group" style="float: left; margin-left: 10px">
        @Html.LabelFor(model => model.totalLabor, "Total Labor")
        @Html.EditorFor(model => model.totalLabor, null, "tatalstotalLabor")
        @Html.ValidationMessageFor(model => model.totalLabor)
    </div>


    <div class="form-group" style="float: left; margin-left: 10px">
        @Html.LabelFor(model => model.tax, "Tax(%)")
        @Html.EditorFor(model => model.tax, null, "tatalsax")
        @Html.ValidationMessageFor(model => model.tax)
    </div>

</div>
